//----- Primary Colors -----\\

$Super-White: #ffffff;
$Mega-Black: #000000;
$Royal: #111e6c;
$Space: #1d2951;
$Prussian: #003152;
$Navy: #000080;
$Egyptian: #1034a6;
$Azure: #0080ff;
$Olympic: #008ecc;
$Carolina: #57a0d3;

//----- Media Queries -----\\
$mobile-small: "only screen and (max-width:400px)";
$mobile: "only screen and (max-width:500px)";
$tablet-short: "only screen and (max-height:550px)";
$tablet-small: "only screen and (max-width:800px)";
$tablet: "only screen and (max-width:1220px)";
$desktop-smaller: "only screen and (max-width:1400px)";
$desktop-small: "only screen and (max-width:1650px)";
$desktop-large: "only screen and (max-width:1800px)";
